<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_202008020251.bag"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202008290246.bag"/> -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202009011526.bag"/>
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/SoccerField/drone_1cam_lidar_noisedimu_202009041502.bag"/> -->

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find dnn_attitude_estimation)/rviz_config/camera_airsim.rviz"/>

	<!-- image -->
	<node pkg="image_transport" type="republish" name="republish" args="compressed raw">
		<remap from="in" to="/airsim_node/drone/camera_0/Scene"/>
		<remap from="out" to="/decompressed_image"/>
	</node>

	<!-- msg conversion -->
	<node pkg="msg_conversion" type="ned_to_neu" name="ned_to_neu">
		<remap from="/odom" to="/airsim_node/drone/odom_local_ned"/>
		<!-- <remap from="/imu/data" to="/airsim_node/drone/imu/Imu"/> -->
		<remap from="/imu/data" to="/airsim_node/drone/imu/Imu/with_noise"/>
		<!-- <param name="parent_frame_id" type="string" value="/odom"/> -->
		<!-- <param name="child_frame_id" type="string" value="/odom/neu"/> -->
	</node>

	<!-- MAIN -->
	<node pkg="dnn_attitude_estimation" name="mle_ekf" type="mle_ekf" output="screen">
		<remap from="/imu/data" to="/imu/data/neu"/>
		<param name="wait_inipose" type="bool" value="false"/>
		<!-- <param name="observe_imu_acc" type="bool" value="false"/> -->
		<!-- <param name="frame_id" type="string" value="/base_link"/> -->
		<!-- <param name="sigma_ini" type="double" value="1.0e&#45;10"/> -->
		<!-- <param name="sigma_gyro" type="double" value="1.0e&#45;4"/> -->
		<!-- <param name="sigma_acc" type="double" value="2.5e+3"/> -->
		<!-- <param name="sigma_dnn" type="double" value="1.0e+4"/> -->
		<param name="sigma_dnn" type="double" value="5.0e+3"/>
		<!-- <param name="th_mul_sigma" type="double" value="8.0e&#45;5"/> -->
		<param name="th_mul_sigma" type="double" value="1.2e-4"/>
	</node>

	<!-- evaluation -->
	<!-- <include file="$(find dnn_attitude_estimation)/launch/comparison_with_imu_airsim.launch"/> -->
	<include file="$(find dnn_attitude_estimation)/launch/comparison_with_gt_airsim.launch"/>

	<!-- visualization -->
	<include file="$(find dnn_attitude_estimation)/launch/visualize_marker_airsim.launch"/>
</launch>
