<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- compared approaches -->
	<node pkg="gyrodometry" name="gyrodometry3d" type="gyrodometry3d">
		<param name="wait_inipose" type="bool" value="false"/>
	</node>

	<!-- msg conversion -->
	<node pkg="msg_conversion" name="quatstamped_to_rpy" type="quatstamped_to_rpy">
		<remap from="/quat" to="/ekf/quat_rpy"/>
		<remap from="/rpy" to="/ekf/rpy"/>
	</node>
	<node pkg="msg_conversion" type="odometry_to_rpy" name="gyrodometry_to_rpy">
		<remap from="/odom" to="/gyrodometry"/>
		<remap from="/rpy" to="/gyrodometry/rpy"/>
	</node>

	<!-- evaluation -->
	<param name="erase_old_data" type="bool" value="True"/>
	<param name="save_csv" type="bool" value="False"/>
	<param name="/num_sub" type="int" value="2"/>
	<param name="/method0" type="str" value="Ours"/>
	<param name="/method1" type="str" value="Gyro"/>
	<node pkg="msg_printer" type="compare_rp.py" name="compare_rp" output="screen">
		<remap from="/estimation0/rpy" to="/ekf/rpy"/>
		<remap from="/estimation1/rpy" to="/gyrodometry/rpy"/>
	</node>

	<!-- visualization -->
	<node pkg="msg_conversion" name="vector_to_arrow" type="vector_to_arrow">
		<remap from="/vector" to="/dnn/g_vector"/>
		<param name="use_subscribed_frameid" type="bool" value="false"/>
		<param name="frame_id" type="string" value="/drone"/>
		<param name="shaft_length" type="double" value="1.0"/>
		<param name="shaft_diameter" type="double" value="0.1"/>
	</node>
</launch>
