<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- param -->
	<param name="weights_path" type="str" value="$(find dnn_attitude_estimation)/weights/lidar_camera_regression.pth"/>
	<!-- MAIN -->
	<node pkg="dnn_attitude_estimation" name="lidar_camera_regression_inference" type="lidar_camera_regression_inference.py" output="screen">
		<remap from="/color_image" to="/decompressed_image"/>
		<remap from="/depth_image" to="/depth_image/64fc1"/>
	</node>
</launch>
