<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/stick_vlp32imu4cam/dynamic/dkan_outdoor/20201027_143715.bag"/>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find dnn_attitude_estimation)/rviz_config/lidar_camera_real.rviz"/>

	<!-- image -->
	<node pkg="image_transport" type="republish" name="republish_f" args="compressed raw">
		<remap from="in" to="/realsense_f/color/image_raw"/>
		<remap from="out" to="/decompressed_image"/>
	</node>

	<!-- velodyne -->
	<include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch"/>
	<node pkg="velodyne_pointcloud_to_depthimage" name="velodyne_pointcloud_to_depthimage" type="velodyne_pointcloud_to_depthimage">
		<param name="points_per_ring" type="int" value="1812"/>
	</node>

	<!-- MAIN -->
	<node pkg="dnn_attitude_estimation" name="regression_ekf" type="regression_ekf" output="screen">
		<param name="wait_inipose" type="bool" value="false"/>
		<param name="use_quaternion_for_rotation" type="bool" value="false"/>
		<!-- <param name="frame_id" type="string" value="/base_link"/> -->
		<!-- <param name="sigma_ini" type="double" value="1.0e&#45;10"/> -->
		<!-- <param name="sigma_imu" type="double" value="1.0e&#45;4"/> -->
		<param name="sigma_camera_g" type="double" value="5.0e+1"/>
	</node>

	<!-- evaluation -->
	<include file="$(find dnn_attitude_estimation)/launch/comparison_with_gyro_real.launch"/>
	<!-- <include file="$(find dnn_attitude_estimation)/launch/comparison_with_gt_real.launch"/> -->

	<!-- for visualization -->
	<node pkg="tf" type="static_transform_publisher" name="tf_imu_to_velodyne" args="0 0 0 0 0 0 /imu /velodyne 1" />
</launch>
