<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- msg conversion -->
	<node pkg="msg_conversion" name="combine_orientation_linear" type="combine_orientation_linear">
		<remap from="/odom" to="/odom/neu"/>
		<remap from="/orientation" to="/ekf/quat_rpy"/>
	</node>
	<node pkg="msg_conversion" name="odometry_to_rpy" type="odometry_to_rpy">
		<remap from="/odom" to="/odom/neu"/>
		<remap from="/rpy" to="/gt/rpy"/>
	</node>
	<node pkg="msg_conversion" name="quatstamped_to_rpy" type="quatstamped_to_rpy">
		<remap from="/quat" to="/ekf/quat_rpy"/>
		<remap from="/rpy" to="/ekf/rpy"/>
	</node>

	<!-- validation -->
	<param name="erase_old_data" type="bool" value="False"/>
	<param name="/num_sub" type="int" value="1"/>
	<param name="/method0" type="str" value="Ours"/>
	<node pkg="msg_printer" type="compare_rp_multi_methods.py" name="compare_rp_multi_methods" output="screen">
		<remap from="/truth/rpy" to="/gt/rpy"/>
		<remap from="/estimation0/rpy" to="/ekf/rpy"/>
	</node>
</launch>
